 <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="#">WNCoders</a>.</strong> All rights
    reserved.
  </footer>