<!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">PANEL DE NAVEGACIÓN</li>
         <li class="treeview menu-open">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Administracion</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="Empleados" routerLinkActive="active"><i class="fa fa-circle-o"></i> Empleados</a></li>
            <li><a routerLink="Cargos" routerLinkActive="active"><i class="fa fa-circle-o"></i> Cargos</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a routerLink="/Agenda" routerLinkActive="active">
            <i class="fa fa-calendar-o"></i> 
            <span>Agenda</span>
            <small class="label pull-right bg-aqua">0</small>
          </a>
        </li>
        <li>
          <a routerLink="/HistorialPacientes" routerLinkActive="active">
            <i class="fa fa-book"></i> 
            <span>Historial de Pacientes</span>
          </a>
        </li>
        <li>
          <a routerLink="/HistorialPagos" routerLinkActive="active">
              <i class="fa fa-money"></i> 
              <span>Hisorial de Pagos</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>