  <!-- Content Wrapper. Contains page content -->

  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cargos
        <small>Modulos de cargos.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cargos</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
        <div class="row"> 
            <div class="col-md-4">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Agregar</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    
                    <form class="form-horizontal" #cargoForm="ngForm" (ngSubmit)="nuevocargo()">
                        <div class="box-body">
                            <div class="form-group" [ngClass]="{'has-error':nombre.errors && (nombre.dirty || nombre.touched)}">

                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="nombre" [(ngModel)]="model.nombre" required  placeholder="Nombre" #nombre="ngModel">
                                    <span class="help-block" *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" [hidden]="!nombre.touched"> <i class="fa fa-times-circle-o"></i> El valor de este campo es requerido!</span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error':privilegio.errors && (privilegio.dirty || privilegio.touched)}">
                                <div class="col-sm-12">
                                    <select class="col-sm-2 form-control" [(ngModel)]="model.privilegio" name="privilegio" required #privilegio="ngModel">
                                        <option *ngFor="let privilegio of privilegios" [value]="privilegio.id">{{privilegio.nombre}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="privilegio.errors && (privilegio.dirty || privilegio.touched)" [hidden]="!privilegio.touched"> <i class="fa fa-times-circle-o"></i> El valor de este campo es requerido!</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-danger" (click)="limpiar_form()">Cancelar</button>
                            <button type="submit" *ngIf="edit == false"class="btn btn-success pull-right" [disabled]="!cargoForm.form.valid">Guardar</button>
                            <button type="button" *ngIf="edit == true" class="btn btn-success pull-right" (click)="actualizarcargo()" [disabled]="!cargoForm.form.valid">Actualizar</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Registros</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div colspan="5">
                                <div id="example1_filter" class="dataTables_filter">
                                    <div class="col-md-8 col-sm-8 col-xs-6">
                                        <label><input type="text" class="form-control" placeholder="Buscar..." aria-controls="example1"></label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <select name="example1_length" (change)="filter()" [(ngModel)]="estado" aria-controls="example1" class="form-control pull-right">
                                            <option value="">Todos</option>
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 box-body table-responsive">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="text-center" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 282px;">
                                                    Identificacion
                                                </th>
                                                <th class="text-center" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 251px;">
                                                    Nombre
                                                </th>
                                                <th class="text-center" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 198px;">
                                                    Privilegio
                                                </th>
                                                <th class="text-center" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 145px;">
                                                    Estado
                                                </th>
                                                <th class="text-center" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 145px;">
                                                    Accion
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            <tr role="row" class="odd" *ngFor = "let cargo of cargos">
                                                <td class="text-center">{{cargo.cod_car}}</td>
                                                <td class="text-center">{{cargo.nom_car | uppercase}}</td>
                                                <td class="text-center"><small *ngIf="cargo.pri_car == 1" class="label bg-blue">Alto</small><small *ngIf="cargo.pri_car == 3" class="label bg-orange">Bajo</small></td>
                                                <td class="text-center"><small *ngIf="cargo.est_car == 1" class="label bg-green">Activo</small><small *ngIf="cargo.est_car == 0" class="label bg-red">Inactivo</small></td>
                                                <td class="text-center">
                                                    <button class="btn btn-primary btn-xs" *ngIf= "cargo.est_car == 1" (click)="editarcargo(cargo)"><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-danger btn-xs"  *ngIf= "cargo.est_car == 1" (click)="eliminarcargo(cargo.cod_car)"><i class="fa fa-remove"></i></button>
                                                    <button class="btn btn-warning btn-xs" *ngIf= "cargo.est_car == 0" (click)="restaurarcargo(cargo.cod_car)"><i class="fa fa-refresh"></i></button>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center" rowspan="1" colspan="1">Identificacion</th>
                                                <th class="text-center" rowspan="1" colspan="1">Nombre</th>
                                                <th class="text-center" rowspan="1" colspan="1">Privilegio</th>
                                                <th class="text-center" rowspan="1" colspan="1">Estado</th>
                                                <th class="text-center" rowspan="1" colspan="1">Accion</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                        <br>
                                        <label for=""> 10 de 100 registros</label>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="dataTables_paginate paging_simple_numbers pull-right" id="example1_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" id="example1_previous">
                                                <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">
                                                    Previous
                                                </a>
                                            </li>
                                            <li class="paginate_button active">
                                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">
                                                    1
                                                </a>
                                            </li>
                                            <li class="paginate_button ">
                                                <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">
                                                    2
                                                </a>
                                            </li>
                                            <li class="paginate_button ">
                                                <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">
                                                    3
                                                </a>
                                            </li>
                                            <li class="paginate_button ">
                                                <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">
                                                    4
                                                </a>
                                            </li>
                                            <li class="paginate_button ">
                                                <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">
                                                    5
                                                </a>
                                            </li>
                                            <li class="paginate_button ">
                                                <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">
                                                    6
                                                </a>
                                            </li>
                                            <li class="paginate_button next" id="example1_next">
                                                <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">
                                                    Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->